.App {
    height: 100%;
    background: grey;
    padding-top: 20px;
    padding-left: 20px;
}

.App .container {
    width: 600px;
    height: 600px;
}

#canvas-wrapper {
    position: absolute;
    background: white;
    width: 600px;
    height: 600px;
    top: 20px;
    left: 20px;
}

#canvas-wrapper canvas {
    position: absolute;
    background: transparent;
    z-index: 1;
    border: black 1px;
}

#canvas-wrapper canvas#main {
    z-index: 10;
}
